[flake8]
ignore =
  # line too long, defer to black
  E501

  # allow line breaks before binary ops
  W503

  # allow line breaks after binary ops
  W504

  # allow whitespace before ':' (https://github.com/psf/black#slices)
  E203

  # conflicts with black
  E701
  E704

exclude =
  .bzr
  .git
  .hg
  .svn
  .tox
  .nox
  CVS
  .venv*/
  venv*/
  target
  __pycache__
  exporter/opentelemetry-exporter-zipkin-proto-http/src/opentelemetry/exporter/zipkin/proto/http/v2/gen/
  docs/examples/opentelemetry-example-app/src/opentelemetry_example_app/grpc/gen/
  docs/examples/opentelemetry-example-app/build/*
  opentelemetry-proto/build/*
  opentelemetry-proto/src/opentelemetry/proto/
  */build/lib/*
