dist: xenial

language: python

python:
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'
  - 'pypy3.5'
  - '3.8-dev'

services:
  - docker

matrix:
  allow_failures:
    - python: '3.8-dev'

install:
  - pip install tox-travis

script:
  - tox

after_success:
  - pip install codecov
  - codecov -v
