pylint==2.11.0
flake8~=3.7
isort~=5.8
black~=22.3.0
httpretty~=1.0
mypy==0.931
sphinx~=3.5.4
sphinx-rtd-theme~=0.5
sphinx-autodoc-typehints~=1.12.0
pytest>=6.0
pytest-cov>=2.8
readme-renderer~=24.0
grpcio-tools~=1.41.0
mypy-protobuf~=3.0.0
protobuf~=3.18.1
# temporary fix. we should update the jinja, flask deps
# See https://github.com/pallets/markupsafe/issues/282
# breaking change introduced in markupsafe causes jinja, flask to break
markupsafe==2.0.1
bleach==4.1.0 # This dependency was updated to a breaking version.
