pylint==2.11.0
flake8~=3.7
isort~=5.8
black~=21.7b0
httpretty~=1.0
mypy==0.812
sphinx~=3.5.4
sphinx-rtd-theme~=0.5
sphinx-autodoc-typehints
pytest>=6.0
pytest-cov>=2.8
readme-renderer~=24.0
grpcio-tools==1.29.0
mypy-protobuf>=1.23
protobuf>=3.13.0
