pylint==2.11.0
flake8~=3.7
isort~=5.8
black~=22.3.0
httpretty~=1.0
mypy==0.931
sphinx~=4.5.0
sphinx-rtd-theme~=1.0
sphinx-autodoc-typehints~=1.17.0
pytest~=6.0
pytest-cov~=2.8
coverage[toml]~=5.2
readme-renderer~=34.0
bleach==4.1.0
grpcio-tools~=1.41.0
mypy-protobuf~=3.0.0
protobuf~=3.18.1
click==8.0.4