pylint==2.11.0
flake8~=3.7
isort~=5.8
black~=22.3.0
httpretty~=1.0
mypy==0.931
sphinx~=3.5.4
sphinx-rtd-theme~=0.5
sphinx-autodoc-typehints~=1.12.0
pytest==7.0.1
pytest-cov==2.8
readme-renderer~=34.0
bleach==4.1.0
grpcio-tools~=1.41.0
mypy-protobuf~=3.0.0
protobuf~=3.18.1
click==8.0.4
