sphinx~=4.5.0
sphinx-rtd-theme~=1.0.0
sphinx-autodoc-typehints~=1.17.0
# used to generate docs for the website
sphinx-jekyll-builder==0.3.0

# Required by instrumentation and exporter packages
ddtrace>=0.34.0
grpcio~=1.27
Deprecated>=1.2.6
django>=2.2
flask~=2.0
opentracing~=2.2.0
thrift>=0.10.0
wrapt>=1.0.0,<2.0.0
