# This version of grpcio-tools ships with protoc 3.19.4 which appears to be compatible with
# both protobuf 3.19.x and 4.x (see https://github.com/protocolbuffers/protobuf/issues/11123).
# Bump this version with caution to preserve compatibility with protobuf 3.
# https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-proto/pyproject.toml#L28
grpcio-tools==1.65.5
mypy-protobuf~=3.1.0
