[tool.black]
line-length = 79
exclude = '''
(
  /(  # generated files
    exporter/opentelemetry-exporter-jaeger-proto-grpc/src/opentelemetry/exporter/jaeger/proto/grpc/gen|
    exporter/opentelemetry-exporter-jaeger-thrift/src/opentelemetry/exporter/jaeger/thrift/gen|
    exporter/opentelemetry-exporter-zipkin/src/opentelemetry/exporter/zipkin/encoder/v2/protobuf/gen|
    opentelemetry-proto/src/opentelemetry/proto/collector|
    opentelemetry-proto/src/opentelemetry/proto/common|
    opentelemetry-proto/src/opentelemetry/proto/metrics|
    opentelemetry-proto/src/opentelemetry/proto/resource|
    opentelemetry-proto/src/opentelemetry/proto/trace
  )/
)
'''
[tool.pytest.ini_options]
addopts = "-rs -v"
log_cli = true
log_cli_level = "warning"
