click==7.1.2
Flask==1.1.2
googleapis-common-protos==1.52.0
grpcio==1.35.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
opentelemetry-api==0.18b0
opentelemetry-exporter-otlp==0.18b0
opentelemetry-instrumentation==0.18b0
opentelemetry-instrumentation-flask==0.18b1
opentelemetry-instrumentation-wsgi==0.18b1
opentelemetry-sdk==0.18b0
protobuf==3.18.3
six==1.15.0
thrift==0.13.0
uWSGI==2.0.19.1
Werkzeug==2.2.3
wrapt==1.12.1
