name: Core Contrib Test

on:
  push:
    branches-ignore:
    - 'release/*'
  pull_request:

jobs:
  contrib_0:
    uses: open-telemetry/opentelemetry-python-contrib/.github/workflows/core_contrib_test_0.yml@main
    with:
      CORE_REPO_SHA: ${{ github.sha }}
      CONTRIB_REPO_SHA: opentelemetrybot/update-version-to-1.31.0.dev-0.52b0.dev
